<div class="rounded" style="height: 250px; z-index: -1; background: url(https://images.unsplash.com/photo-1520681279154-51b3fb4ea0f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed; background-size: cover;"></div>
<div style="border: .5rem solid white; margin-right: 1rem; margin-top: -75px; width: 150px; height: 150px; border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover; background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSgz00XOgwqfQTlyHBYKegoGrV3kFsuEAHY96ZVVDzSJkD3-z2q')" class="ml-auto"></div>
<h1 style="margin-top: -75px;" class="display-4">Hello, <span class="text-secondary"><%= @user.name %></span></h1>
<p class="lead">Your location: <span class="text-secondary"><%= @user.location %></span></p>
<a href = '/users/edit' class="btn btn-outline-secondary btn-sm mb-5"><i class="fas fa-user-edit"></i></a>