<h1>found stuff!</h1>

<%if @experiences.length != 0%>
	<%@experiences.each do |x|%>
		<div>
		<p>Guide name: <%=x.guide.user.name%></p>
		<ul>
		<li>Guide location: <%=x.guide.user.location%></li>
		<li>Experience: <%=x.title%></li>
	</ul>
	</div>
	<%end%>
<%else%>
	<p> Sorry, no match!</p>

<%end%>