<h1>found stuff!</h1>

<% @guides.each do |g|%>
<ul>
	<li>Guide name: <%=g.user.name%></li>
	<li>Guide location: <%=g.user.location%></li>
	<li>	<ul>Guide experiences:
		<%g.experiences.each do |e|%>
		<li><%=e.title%></li>
		</ul></li>
		<%end%>

</ul>
<%end%>