<%# greeting banner %>
<div class="rounded" style="height: 250px; z-index: -1; background: url(https://images.unsplash.com/photo-1520681279154-51b3fb4ea0f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed; background-size: cover;"></div>
<div style="margin-right: 1rem; margin-top: -75px; width: 150px; height: 150px; border-radius: 50%; background-repeat: no-repeat; background-position: center center; background-size: cover; background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSgz00XOgwqfQTlyHBYKegoGrV3kFsuEAHY96ZVVDzSJkD3-z2q')" class="ml-auto"></div>
<h1 style="margin-top: -75px;" class="display-4">Hello, <span class="text-secondary"><%= @user.name %></span></h1>
<p class="lead">Your location: <%= @user.location %></p>
<a class="btn btn-outline-secondary btn-sm"><i class="fas fa-user-edit"></i></a>
<% if @user.guide %>
	<a href="/guides" class="btn btn-outline-secondary btn-sm">Guide's dashboard</a>
<% else %>
	<a href="/travellers/becomeaguide" class="btn btn-outline-secondary btn-sm">Become a guide and showcase your city!</a>
<% end %>
<%# dashboard main %>
<a class = "btn btn-block btn-success my-5" href="/travellers/findguide">Going on an adventure!</a>
<%# visible only on xs %>
<div class="d-block d-sm-none">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="conversations-tab" data-toggle="tab" href="#conversations" role="tab">Conversations</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
	  </li>
	</ul>
	<div class="tab-content mb-5" id="myTabContent">
<%# conversations tab %>
	  <div class="mt-3 tab-pane fade show active" id="conversations" role="tabpanel">
	  	<% @conversations.each do |conversation| %>
  			<% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
  				<% if conversation.sender_id == current_user.id %>
  					<% recipient = User.find(conversation.recipient_id) %>
  				<% else %>
  					<% recipient = User.find(conversation.sender_id) %>
  				<% end %>
  				<div class="alert alert-secondary" role="alert">
  					<%= link_to recipient.name, conversation_messages_path(conversation), :class => "text-dark"%>
  				</div>
  			<% end %>
  		<% end %>
	  </div>
<%# reviews tab %>
	  <div class="tab-pane fade text-center" id="reviews" role="tabpanel">
	  	<h1 class="display-4">No reviews yet</h1>
	  </div>
	</div>
</div>
<%# hidden only on xs %>
<div class="d-none d-sm-block">
	<div class="row">
<%# conversations column %>
		<div class="card col-6 px-0">
	  	<h5 class="card-header">Conversations</h5>
			<div class="card-body">
				<% @conversations.each do |conversation| %>
					<% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
						<% if conversation.sender_id == current_user.id %>
							<% recipient = User.find(conversation.recipient_id) %>
						<% else %>
							<% recipient = User.find(conversation.sender_id) %>
						<% end %>
						<h5 class="card-title">
							<%= link_to recipient.name, conversation_messages_path(conversation), :class => "text-dark"%>
						</h5>
						<hr>
					<% end %>
				<% end %>
			</div>
		</div>
<%# reviews column %>
		<div class="card col-6 px-0">
	  	<h5 class="card-header">Reviews</h5>
			<div class="card-body">
				<h4>No reviews yet</h4>
			</div>
		</div>
	</div>
</div>