


<section id="banner">
				<div class="inner">
					<header>
						<h1>This is <strong class="" id="natjio">Nat Jio</strong> </h1> 
						<p>Find Your Local Experience</p>
					</header>
                    <a href="/users/sign_up" class="btn btn-success btn-lg">Sign Up</a>
					<a href="#main" class="btn btn-primary btn-lg ml-4">Learn More</a>
                    <br>
                    <small class="text-white pt-4">Already Have an account? Log In <a href="/users/sign_in">Here</a> </small>
				</div>
			</section>


            <div id="main" class="">
            
                <section class="learn ">
						<div class="container text-center ">
                            <h3 class="border-bottom pb-3">Connect With Local Guides</h3>
										<p class="mt-5">Sign up with Nat Jio, search for the destination you wish to travel to and start chatting with Guides immediately, it is <strong>THAT EASY</strong> </p>
										<p> </p>
										<a href="/users/sign_up" class="btn btn-success btn-lg">Sign Up</a>
                        </div>
                        
							
								
								
					</section>



                <section id="saying" class="mt-5">
                    		<div class="inner">
                                    <h2 class="text-white">If you Enjoy meeting new people, why not sign up to be a guide and show off your city to your fellow travellers! </h2>
                                    <h1 class="mt-5">The Adventure Starts NOW!</h1>
                            </div>
             
			
			    </section>


                <section id="" class="mt-5">
                    		<div class="container text-center">
                            <h1 class="border-bottom">See What People Are Saying</h1>
                            <div class="row mt-5">
                            <div class="col-4">
                             <blockquote class="blockquote text-right">
  <p class="mb-0 te">One of the Best Apps of the Year</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Singapore</cite></footer>
</blockquote>
                 
                            </div>
                                     <div class="col-4">
                                        <blockquote class="blockquote text-right">
  <p class="mb-0 te">It's like Tinder and TripAdvisor had a baby</p>
  <footer class="blockquote-footer">Bill Gates</footer>
</blockquote>
                                     </div> 
                                     <div class="col-4">
                                        <blockquote class="blockquote text-right">
  <p class="mb-0 te">Why Would anyone do this?</p>
  <footer class="blockquote-footer">The Straits Times</footer>
</blockquote>
                                     </div> 
                            
                            </div>
                            </div>
                 
			
			</section>
            </div>
            	

                   <footer id="footer" class="py-5 contact">
  
                

        					<p class="text-center">&copy; Nat Jio 2019</p>

        
    </footer>



            <script>
            document.querySelector('.navbar').style.padding = '0';
            
            </script>