<h1 style = "text-align: center">Guides in <%=@parameter%></h1>



<%if @experiences.length != 0%>
<div class = "container d-flex justify-content-center">
	<div class = "col-9">
		<%@unique.each do |x|%>
		<div class="row border mt-3">
			<div class="col-3">
				  Review ratings and stars and stuff!
				  <div>

 						<span class="glyphicon glyphicon-star-empty"></span>

					</div>


				</div>
	    <div class="col-6 d-flex justify-content-flex-end">
						<div>
							<h3>Name: <a class = "stretched-link btn btn-outline-success" href = "/guides/<%=x.id%>"><%=x.user.name%></a></h3>
							<h5>Experiences offered:</h5>
									<%x.experiences.each do |y|%>
									<span class="badge badge-pill badge-success"><%=y.title%></span>
									<%end%>
						</div>
				</div>
				<div class="col-3">
				    <img src = "https://dcist.com/wp-content/uploads/sites/3/2019/04/Gem2-768x689.jpg" class = "img-fluid rounded-circle"/>
				</div>
		</div>
			<% end %>
	</div>
</div>


<%else%>
	<p> Sorry, no match!</p>

<%end%>