<h1>New guide form</h1>

<%= form_with scope: :guide, url: guides_path, local: true do |form| %>
	<p>
    <%= form.label :bio %><br>
    <%= form.text_area :bio %>
  </p>

	<div class="form-group">
    <%= form.submit({:class => "btn btn-primary"}) %>
  </div>

<% end %>